version: '3'

services:
  collector:
    image: collector_image
    build:
      context: /tmp/collector
      dockerfile: Dockerfile
    container_name: collector
    network_mode: "host"
    ports:
      - "{{ llama_dst_port }}:{{ llama_dst_port }}/tcp"
      - "{{ llama_dst_port }}:{{ llama_dst_port }}/udp"

  scraper:
    image: scraper_image
    build:
      context: /tmp/scraper
      dockerfile: Dockerfile
    container_name: scraper
    network_mode: "host"
    ports:
      - "{{ llama_collector_port }}:{{ llama_collector_port }}/tcp"
      - "{{ llama_collector_port }}:{{ llama_collector_port }}/udp"
      - "{{ llama_influxdb_port }}:{{ llama_influxdb_port }}/tcp"
      - "{{ llama_influxdb_port }}:{{ llama_influxdb_port }}/udp"
 
  influxdb:
    image: influxdb_image
    build:
      context: /tmp/influxdb
      dockerfile: Dockerfile
    container_name: influxdb
    network_mode: "host"
    ports:
      - "{{ influxdb_http_port }}:{{ influxdb_http_port }}/tcp"
      - "{{ influxdb_http_port }}:{{ influxdb_http_port }}/udp"
  
  grafana:
    image: grafana_image
    build:
      context: /tmp/grafana
      dockerfile: Dockerfile
    container_name: grafana
    network_mode: "host"
    ports:
      - "3000:3000/tcp"
      - "3000:3000/udp"